body{
    background-image:url("https://i.postimg.cc/KzWwHPcq/racing.gif");
    background-position:center;
    background-size:cover;
    text-align: center;
}
#mycanvas{
    border:20px ridge red;
    margin-top:30px;
    background-color: orange;
}
h1,h3{
  font-family: Algerian;
  color:white;
}